Repository SnO2WMaN-HQ/optipack: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

lefthook.yml:

commit-msg:
  commands:
    commitlint:
      run: commitlint --edit ./.git/COMMIT_EDITMSG

pre-push:
  parallel: true
  commands:
    packages-audit:
      tags: frontend security
      run: yarn audit

pre-commit:
  parallel: true
  commands:
    eslint:
      tags: frontend lint
      glob: '*.{js,ts}'
      run: eslint {staged_files}
    prettier:
      tags: frontend lint
      glob: '*.{json,yml,yaml,md}'
      run: prettier --check {staged_files}

feat(configurable-alphabetical-sorter): :sparkles: 実装
  @optipack/configurable-alphabetical-sorter/LICENSE
  @optipack/configurable-alphabetical-sorter/jest.config.json
  @optipack/configurable-alphabetical-sorter/package.json
  @optipack/configurable-alphabetical-sorter/src/index.test.ts
  @optipack/configurable-alphabetical-sorter/src/index.ts
  @optipack/configurable-alphabetical-sorter/tsconfig.build.json
  @optipack/configurable-alphabetical-sorter/tsconfig.json
Due: eslint, prettier

feat(scripts-sorter): :sparkles: 実装
  @optipack/scripts-sorter/LICENSE
  @optipack/scripts-sorter/jest.config.json
  @optipack/scripts-sorter/package.json
  @optipack/scripts-sorter/src/index.test.ts
  @optipack/scripts-sorter/src/index.ts
  @optipack/scripts-sorter/tsconfig.build.json
  @optipack/scripts-sorter/tsconfig.json
Due: eslint, prettier

feat(alphabetical-sorter): :sparkles: ジェネリクスで回す
  @optipack/alphabetical-sorter/src/index.test.ts
  @optipack/alphabetical-sorter/src/index.ts
Due: eslint

feat(configurable-alphabetical-sorter): :sparkles: ジェネリクスで回す
  @optipack/configurable-alphabetical-sorter/src/index.test.ts
  @optipack/configurable-alphabetical-sorter/src/index.ts
Due: eslint

refactor(scripts-sorter): :recycle: ジェネリクスに伴いコード改修
  @optipack/scripts-sorter/src/index.test.ts
  @optipack/scripts-sorter/src/index.ts
  @optipack/scripts-sorter/tsconfig.build.json
Due: eslint, prettier

build: :bug: 依存関係の循環を解消
  @optipack/alphabetical-sorter/tsconfig.build.json
  @optipack/configurable-alphabetical-sorter/tsconfig.build.json
  @optipack/core/tsconfig.build.json
  @optipack/scripts-sorter/tsconfig.build.json
Due: prettier

refactor(core): :recycle: sorterパッケージに切り出し
  @optipack/core/jest.config.json
  @optipack/core/package.json
  @optipack/core/src/configs.ts
  @optipack/core/src/format.test.ts
  @optipack/core/src/format.ts
  @optipack/core/src/scripts.test.ts
  @optipack/core/src/scripts.ts
  @optipack/core/src/sorters.test.ts
  @optipack/core/src/sorters.ts
Due: eslint, prettier

feat(core): :sparkles: scriptsをソートするか設定可能に
  @optipack/core/src/configs.ts
  @optipack/core/src/format.test.ts
  @optipack/core/src/format.ts
Due: eslint

feat(config): :sparkles: 切り出し
  @optipack/config/LICENSE
  @optipack/config/README.md
  @optipack/config/jest.config.json
  @optipack/config/package.json
  @optipack/config/src/index.test.ts
  @optipack/config/src/index.ts
  @optipack/config/tsconfig.build.json
  @optipack/config/tsconfig.json
Due: eslint, prettier

refactor(core): コンフィグ部分切り分け
  @optipack/core/package.json
  @optipack/core/src/configs.ts
  @optipack/core/src/format.test.ts
  @optipack/core/src/format.ts
  @optipack/core/src/index.ts
  @optipack/core/tsconfig.build.json
Due: eslint, prettier

feat(cosmiconfig): :sparkles: 実装
  @optipack/cosmiconfig/LICENSE
  @optipack/cosmiconfig/jest.config.json
  @optipack/cosmiconfig/package.json
  @optipack/cosmiconfig/src/index.ts
  @optipack/cosmiconfig/tsconfig.build.json
  @optipack/cosmiconfig/tsconfig.json
Due: eslint, prettier

refactor(cli): 設定ファイルの取得を切り分け
  @optipack/cli/package.json
  @optipack/cli/src/index.ts
  @optipack/cli/tsconfig.build.json
Due: eslint, prettier

chore(cosmiconfig): :fire: テスト事項が無いので設定削除
  @optipack/cosmiconfig/jest.config.json
  @optipack/cosmiconfig/package.json
Due: prettier

chore: :gear: lint時にバグる可能性があるのでprettier-plugin-optipack削除
  package.json
  yarn.lock
Due: prettier

chore: :gear: Codecovの設定更新
  codecov.yml
Due: prettier

ci: :bug: テスト前にビルドしないと落ちる
  .github/workflows/ci.yml
Due: prettier

docs: package.jsonとREADME.md更新
  @optipack/alphabetical-sorter/package.json
  @optipack/configurable-alphabetical-sorter/package.json
  README.md
Due: prettier

ci: :bug: publishに必要な認証を追加
  .github/workflows/release.yml
Due: prettier

chore: v1.0.2
  @optipack/alphabetical-sorter/CHANGELOG.md
  @optipack/alphabetical-sorter/package.json
  @optipack/cli/CHANGELOG.md
  @optipack/cli/package.json
  @optipack/config/CHANGELOG.md
  @optipack/config/package.json
  @optipack/configurable-alphabetical-sorter/CHANGELOG.md
  @optipack/configurable-alphabetical-sorter/package.json
  @optipack/core/CHANGELOG.md
  @optipack/core/package.json
  @optipack/cosmiconfig/CHANGELOG.md
  @optipack/cosmiconfig/package.json
  @optipack/scripts-sorter/CHANGELOG.md
  @optipack/scripts-sorter/package.json
  CHANGELOG.md
  lerna.json
Due: prettier

chore: pin dependency lodash to 4.17.20
  @optipack/alphabetical-sorter/package.json
Due: prettier

chore: update dependency @types/jest to v26.0.14
  package.json
  yarn.lock
Due: prettier

chore: update node.js to v12.18.4
  .node-version
Due: none

chore: update dependency typescript to v4
  package.json
  yarn.lock
Due: prettier

chore: update dependency ts-jest to v26.4.1
  package.json
  yarn.lock
Due: prettier

chore: update dependency @shopify/eslint-plugin to v39
  package.json
  yarn.lock
Due: prettier

chore: update dependency @types/lodash to v4.14.162
  package.json
  yarn.lock
Due: prettier

chore: update node.js to v12.19.0
  .node-version
Due: none

fix: update dependency type-fest to ^0.18.0
  @optipack/config/package.json
  yarn.lock
Due: prettier

chore: update dependency @shopify/prettier-config to v1.1.2
  package.json
  yarn.lock
Due: prettier

chore: update dependency jest to v26.5.3
  package.json
  yarn.lock
Due: prettier

chore: update dependency @types/jest to v26.0.15
  package.json
  yarn.lock
Due: prettier

chore: update dependency @types/lodash to v4.14.164
  package.json
  yarn.lock
Due: prettier

chore: update dependency jest to v26.6.3
  package.json
  yarn.lock
Due: prettier

chore: update dependency @types/lodash to v4.14.165
  package.json
  yarn.lock
Due: prettier
