Repository SnO2WMaN-HQ/optipack: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

eslint:
  tags: frontend lint
  run: eslint {staged_files}

prettier:
  tags: frontend lint
  run: prettier --check {staged_files}

chore: :gear: conventiona-changelogを追加
  package.json
  yarn.lock
Due: prettier

refactor: :truck: monorepo化にしたがって移動
  @optipack/core/package.json
  @optipack/core/src/configs.ts
  @optipack/core/src/index.test.ts
  @optipack/core/src/index.ts
  @optipack/core/src/scripts.test.ts
  @optipack/core/src/scripts.ts
  @optipack/core/src/sorters.test.ts
  @optipack/core/src/sorters.ts
  @optipack/core/tsconfig.json
Due: eslint, prettier

chore: :gear: lernaでmonorepo化
  .commitlintrc.json
  .gitignore
  @optipack/core/jest.config.json
  @optipack/core/package.json
  @optipack/core/src/configs.ts
  jest.config.json
  lerna.json
  package.json
  tsconfig.json
  tsconfig.shared.json
  yarn.lock
Due: eslint, prettier

chore: :gear: prettier-plugin-organize-imports追加
  package.json
  yarn.lock
Due: prettier

fix(core): :bug: 配列を扱うと挙動がおかしくなるのを修正
  @optipack/core/src/index.test.ts
  @optipack/core/src/index.ts
  @optipack/core/src/sorters.ts
Due: eslint

fix(core): :bug: 配列をアルファベット順にソートする
  @optipack/core/src/index.test.ts
  @optipack/core/src/index.ts
Due: eslint

refactor(core): :recycle: 出力ファイルを変更
  @optipack/core/package.json
  @optipack/core/src/index.ts
  @optipack/core/src/main.ts
Due: eslint, prettier

feat(prettier-plugin-optipack): :sparkles: プラグイン実装
  @optipack/prettier-plugin/.eslintrc
  @optipack/prettier-plugin/jest.config.json
  @optipack/prettier-plugin/package.json
  @optipack/prettier-plugin/src/fixtures/1.json
  @optipack/prettier-plugin/src/fixtures/1_expected.json
  @optipack/prettier-plugin/src/index.test.ts
  @optipack/prettier-plugin/src/index.ts
  @optipack/prettier-plugin/tsconfig.json
Due: eslint, prettier

feat(core): :sparkles: 並び替えるプロパティを追加
  @optipack/core/src/configs.ts
Due: eslint

refactor(core): :recycle: インポートを整理
  @optipack/core/src/scripts.test.ts
  @optipack/core/src/sorters.test.ts
  @optipack/core/src/sorters.ts
Due: eslint

feat(cli): :sparkles: CLIを実装
  @optipack/cli/.eslintrc
  @optipack/cli/package.json
  @optipack/cli/src/index.ts
  @optipack/cli/tsconfig.json
Due: eslint, prettier

fix(core): :bug: 文字列ではない値を扱うと挙動がおかしくなるのを修正
  @optipack/core/src/index.test.ts
  @optipack/core/src/index.ts
  @optipack/core/src/sorters.ts
Due: eslint

fix(cli): :bug: Prettierのパーサーをjson-stringfyからjsonへ
  @optipack/cli/src/index.ts
Due: eslint

fix(prettier-plugin-optipack): :bug: Prettierのパーサーをjsonへ変更
  @optipack/prettier-plugin/src/index.ts
Due: eslint

chore: 依存関係整理
  @optipack/core/package.json
  @optipack/prettier-plugin/package.json
  package.json
Due: prettier

chore: :gear: VSCodeの設定ファイル追加
  .vscode/extensions.json
  .vscode/settings.json
Due: prettier

chore: :gear: 環境設定更新
  .eslintignore
  .eslintrc
  .prettierignore
  package.json
  tsconfig.json
  yarn.lock
Due: prettier

fix(prettier-plugin-optipack): :bug: パーサーをjson-stringfyに戻す
  @optipack/prettier-plugin/src/index.ts
Due: eslint

test(prettier-plugin-optipack): テストファイルを更新
  @optipack/prettier-plugin/src/fixtures/1.json
  @optipack/prettier-plugin/src/fixtures/1_expected.json
Due: prettier

revert(cli): :bug: Prettierのパーサーはjson-stringfyのままで
  @optipack/cli/src/index.ts
Due: eslint

chore: :pencil: package.jsonを配布用に更新
  @optipack/cli/package.json
  @optipack/core/package.json
  @optipack/prettier-plugin/package.json
  package.json
Due: prettier

docs: :pencil: LICENSE追加
  LICENSE
Due: none

chore: :gear: 依存関係の巻き上げ
  @optipack/cli/package.json
  @optipack/core/package.json
  @optipack/prettier-plugin/package.json
  package.json
  yarn.lock
Due: prettier

chore: :gear: lerna.json更新
  lerna.json
Due: prettier

chore: :gear: CHANGELOG.mdはPrettierの対象から除外
  .prettierignore
Due: none

ci: :sparkles: GitHub Actionsでバージョンを更新する
  .github/workflows/release.yml
Due: prettier

ci: :sparkles: GitHub Actionsでビルドとテストをチェックする
  .github/workflows/ci.yml
  @optipack/cli/package.json
  @optipack/cli/tsconfig.json
  @optipack/prettier-plugin/package.json
  @optipack/prettier-plugin/tsconfig.json
  package.json
  tsconfig.shared.json
  yarn.lock
Due: prettier

test: :sparkles: カバレッジを生成するよう調整
  .eslintignore
  .gitignore
  .prettierignore
  @optipack/core/jest.config.json
  @optipack/core/package.json
  @optipack/prettier-plugin/jest.config.json
  @optipack/prettier-plugin/package.json
  package.json
Due: prettier

ci: :sparkles: カバレッジをCodecovへ送信
  .github/workflows/ci.yml
  codecov.yml
Due: prettier

chore: :gear: Renovateの設定ファイル追加
  .renovaterc
Due: none

chore: :gear: lefthookの設定更新
  lefthook.yml
Due: prettier

chore: :gear: package.jsonとyarn.lock更新
  package.json
  yarn.lock
Due: prettier

ci: :bug: プルリクエストで二重に走らないように修正
  .github/workflows/ci.yml
Due: prettier

chore: pin dependencies
  @optipack/cli/package.json
  package.json
  yarn.lock
Due: prettier

chore: update commitlint monorepo to v10
  package.json
  yarn.lock
Due: prettier

chore: update commitlint monorepo to v11
  package.json
  yarn.lock
Due: prettier

Path conditions:
  eslint: any of: *.{js,ts}
  prettier: any of: *.{json,yml,yaml,md}
