Repository SnO2WMaN-HQ/optipack: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

lefthook.yml:

commit-msg:
  commands:
    commitlint:
      run: commitlint --edit ./.git/COMMIT_EDITMSG

pre-push:
  parallel: true
  commands:
    packages-audit:
      tags: frontend security
      run: yarn audit

pre-commit:
  parallel: true
  commands:
    eslint:
      tags: frontend lint
      glob: '*.{js,ts}'
      run: eslint {staged_files}
    prettier:
      tags: frontend lint
      glob: '*.{json,yml,yaml,md}'
      run: prettier --check {staged_files}

chore: :gear: lernaのバージョン更新時のコミットメッセージを変更
  lerna.json
Due: prettier

ci: :sparkles: リリースのワークフローを作成
  .github/workflows/release.yml
Due: prettier

chore: update dependency @shopify/eslint-plugin to v38
  package.json
  yarn.lock
Due: prettier

ci: :sparkles: リリース時にバージョンを指定出来るように設定
  .github/workflows/release.yml
Due: prettier

ci: :sparkles: Releaseが成功した場合publishする
  .github/workflows/publish.yml
Due: prettier

ci: :sparkles: 万一に備えpublishを手動で起動できるように
  .github/workflows/publish.yml
Due: prettier

chore: v0.0.2
  @optipack/cli/CHANGELOG.md
  @optipack/cli/package.json
  @optipack/core/CHANGELOG.md
  @optipack/core/package.json
  @optipack/prettier-plugin/CHANGELOG.md
  @optipack/prettier-plugin/package.json
  CHANGELOG.md
  lerna.json
Due: prettier

ci: :bug: Publishワークフローを更新
  .github/workflows/publish.yml
Due: prettier

chore: :gear: パッケージのpublish先を変更
  lerna.json
Due: prettier

chore(cli): :bug: scoped packageとしてpublish出来ない問題を修正
  @optipack/cli/package.json
Due: prettier

chore(prettier-plugin-optipack): :gear: パッケージ名変更
  @optipack/prettier-plugin/package.json
Due: prettier

chore: :gear: lerna.json更新
  lerna.json
Due: prettier

docs: :fire: CHANGELOG.mdを一旦削除
  @optipack/cli/CHANGELOG.md
  @optipack/core/CHANGELOG.md
  @optipack/prettier-plugin/CHANGELOG.md
  CHANGELOG.md
Due: prettier

chore: :gear: パッケージ名変更に伴い依存関係整理
  package.json
  yarn.lock
Due: prettier

chore: v1.0.0-alpha.0
  @optipack/cli/CHANGELOG.md
  @optipack/cli/package.json
  @optipack/core/CHANGELOG.md
  @optipack/core/package.json
  @optipack/prettier-plugin/CHANGELOG.md
  @optipack/prettier-plugin/package.json
  CHANGELOG.md
  lerna.json
Due: prettier

docs: :pencil: READMEとLICENSEを各パッケージに追加
  @optipack/cli/LICENSE
  @optipack/cli/README.md
  @optipack/core/LICENSE
  @optipack/core/README.md
  @optipack/prettier-plugin/LICENSE
  @optipack/prettier-plugin/README.md
  README.md
Due: prettier

test(prettier-plugin-optipack): :bug: Jestの設定を更新して失敗を防ぐ
  @optipack/prettier-plugin/jest.config.json
  @optipack/prettier-plugin/src/index.test.ts
Due: eslint, prettier

chore: :gear: fixtureディレクトリはPrettierを走らせない
  .prettierignore
Due: none

refactor(core): :recycle: ファイル名を変更
  @optipack/core/package.json
  @optipack/core/src/format.test.ts
  @optipack/core/src/format.ts
  @optipack/core/src/index.ts
  @optipack/core/src/main.ts
Due: eslint, prettier

refactor: :fire: prettier-plugin-optipackを削除
  @optipack/prettier-plugin/.eslintrc
  @optipack/prettier-plugin/CHANGELOG.md
  @optipack/prettier-plugin/LICENSE
  @optipack/prettier-plugin/README.md
  @optipack/prettier-plugin/jest.config.json
  @optipack/prettier-plugin/package.json
  @optipack/prettier-plugin/src/fixtures/1.json
  @optipack/prettier-plugin/src/fixtures/1_expected.json
  @optipack/prettier-plugin/src/index.test.ts
  @optipack/prettier-plugin/src/index.ts
  @optipack/prettier-plugin/tsconfig.json
Due: eslint, prettier

chore: :gear: prettier-plugin-optipack追加
  package.json
  yarn.lock
Due: prettier

chore: :gear: tsconfig周り更新
  @optipack/cli/tsconfig.build.json
  @optipack/cli/tsconfig.json
  @optipack/core/tsconfig.build.json
  @optipack/core/tsconfig.json
  tsconfig.build.json
  tsconfig.json
  tsconfig.shared.json
Due: prettier

chore: :gear: package.json周り更新
  @optipack/cli/package.json
  @optipack/core/package.json
  package.json
  yarn.lock
Due: prettier

docs: :pencil: README更新
  README.md
Due: prettier

chore: :gear: codecov.ymlからprettier-pluginの項目を削除
  codecov.yml
Due: prettier

chore: :gear: tsbuildinfoファイルを無視
  .gitignore
Due: none

chore: :gear: monorepoに伴いimport/no-extraneous-dependenciesを無効に
  .eslintrc
Due: none

fix(cli): :bug: tsエラーが出ないように修正
  @optipack/cli/src/index.ts
Due: eslint

ci: :fire: 不要な部分を削除
  .github/workflows/ci.yml
Due: prettier

docs: :pencil: READMEのURL修正
  README.md
Due: prettier

chore: :gear: publish前にビルドを走らせる
  @optipack/cli/package.json
  @optipack/core/package.json
Due: prettier

ci: :sparkles: リリース周りのワークフロー更新
  .github/workflows/publish.yml
  .github/workflows/release.yml
Due: prettier

ci: :bug: リリースのワークフローのNode.jsのバージョン指定ミスを修正
  .github/workflows/release.yml
Due: prettier

ci: :bug: リリース時にgitにloginしていないのを修正
  .github/workflows/release.yml
Due: prettier

chore: v1.0.0
  @optipack/cli/CHANGELOG.md
  @optipack/cli/package.json
  @optipack/core/CHANGELOG.md
  @optipack/core/package.json
  CHANGELOG.md
  lerna.json
Due: prettier

build(core): :bug: テストファイルまでビルドしてしまうのを修正
  @optipack/core/tsconfig.build.json
Due: prettier

ci: :bug: publishに必要なtokenを修正
  .github/workflows/release.yml
Due: prettier

ci: :sparkles: テストはビルドに依存しない
  .github/workflows/ci.yml
Due: prettier

chore: v1.0.1
  @optipack/cli/CHANGELOG.md
  @optipack/cli/package.json
  @optipack/core/CHANGELOG.md
  @optipack/core/package.json
  CHANGELOG.md
  lerna.json
Due: prettier

feat(alphabetical-sorter): :sparkles: 実装
  @optipack/alphabetical-sorter/LICENSE
  @optipack/alphabetical-sorter/jest.config.json
  @optipack/alphabetical-sorter/package.json
  @optipack/alphabetical-sorter/src/index.test.ts
  @optipack/alphabetical-sorter/src/index.ts
  @optipack/alphabetical-sorter/tsconfig.build.json
  @optipack/alphabetical-sorter/tsconfig.json
Due: eslint, prettier
